/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

/* Header styling */
header {
  text-align: center;
  padding: 40px 0;
  background-color: #004030;
  color: white;
}

header h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

header img {
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Section styling */
section {
  margin: 40px 0;
}

section h2 {
  font-size: 2em;
  color: #a9c507;
  margin-bottom: 15px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

/* Gallery styling */
figure {
  display: inline-block;
  margin: 25px;
  text-align: center;
}

figure img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

figcaption {
  margin-top: 10px;
  font-style: italic;
}

/* Form styling */
form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 320px;
  margin: auto; 
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0e1d2b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b8ff04;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 20px;
  background-color: #0e1d2b;
  color: white;
  margin-top: 40px;
  border-radius: 5px;
}

/* statistik */


